.container {
    display: flexbox;
    background-color: rgb(255, 246, 196);
    width: 50rem;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
}

button {
    margin-left: 3.1%;
}